<div class="card">
     <h1>This is your Cart!</h1>

  {{#each products}}
    <div >
      <p >Descripcion: {{this.product.title}}</p>
      <p >Price: ${{this.product.price}}</p>
      <p>Quantity: {{this.quantity}}</p>
      <p ></p>
    </div>
  {{/each}}
</div>