<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web sockets and handlebars - Jorge Renteria</title>
  </head>
  <body>
    <div>
      <nav>
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
      </nav>
      {{{body}}}
    </div>
  </body>
</html>